.Header{
    padding: 1rem;
    background-color: black;
    display: flex;
    gap: 1rem;
    width: 100%;
    font-size: 2rem;
    align-items: center;
}

.link{
    color: white;
    text-decoration: none;
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 5px;
}

.link:hover{
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 5px;
}

a:not(.link){
    text-decoration: none;
    padding: .5rem;
    background-color: red;
    color: white;
    border-radius: 5px;
}

a:not(.link):active{
    background-color: darkred;
}